include *.rst
include *.cfg
include .coveragerc
include .travis.yml
include LICENSE
include requirements.txt
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include haproxy *.log
