include CHANGES.rst
exclude .flake8
exclude *.in
exclude *.txt
exclude *.yaml
exclude .coveragerc
exclude tox.ini
recursive-exclude docs *.py
recursive-exclude docs *.rst
recursive-exclude docs Makefile
recursive-exclude tests *.log
recursive-exclude tests *.py
