black ; python_version > '3.5'
flake8
flake8-blind-except
flake8-coding
flake8-debugger
flake8-deprecated
flake8-isort
flake8-pep3101
flake8-polyfill
flake8-quotes
flake8-string-format
flake8-todo
isort
more-itertools < 6.0  # until we drop support for python 2.7
pip-tools
pycodestyle
pydocstyle < 4.0  # until we drop support for python 2.7
pyflakes
pytest < 5.0  # until we drop support for python 2.7
pytest-cov
typed-ast ; python_version > "3.5"
testfixtures
