-r requirements.in

black
codespell
flake8-blind-except
flake8-bugbear
flake8-comprehensions
flake8-debugger
flake8-deprecated
flake8-isort
flake8-pep3101
flake8-quotes
flake8-todo
isort
pyupgrade
typed-ast; python_version < '3.8'  # dependency of black
