black ; python_version > '3.5'
flake8
flake8-blind-except
flake8-coding
flake8-debugger
flake8-deprecated
flake8-isort
flake8-pep3101
flake8-polyfill
flake8-quotes
flake8-string-format
flake8-todo
isort
pip-tools
pycodestyle
pydocstyle
pyflakes
pytest
pytest-cov
testfixtures
